.div1
{
    display: flex;
    
}
.div2
{
    margin-top:200px;
    margin-left: 300px;
}
.div2 input
{
    display: block;
    
    margin-right: auto;
    margin-bottom: 15px;
}
.div3 button
{
    margin-left: 150px;
    background-color: black;
    color: white;
    
}
.div3
{
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.div3 input
{
    display: block;
    margin-bottom: 15px;
    margin-left: 150px;
}
.div2 button
{
    background-color: black;
    color: white;
}