.blocklist{
    width: fit-content;
    padding: 1vw;
    margin: auto;
}
.blockspreview{
    background-color: gray;

}
.meetingbtn{
    background-color: black;
    width: fit-content;
    margin: auto;
}